* {
  box-sizing: border-box;
}

[id^='simplemde-editor-'] {
  height: 100%;
  flex: 1;
}

.EasyMDEContainer, .CodeMirror {
  height: calc(100% - 42px) !important;
  max-height: calc(100% - 42px) !important;
}

.CodeMirror-scroll {
  font-size: 0.8rem;
  font-family: "Jetbrains Mono";
}

.CodeMirror-lines {
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

.CodeMirror-placeholder {
  @apply dark:text-darkpen-light !important;
}

.CodeMirror-cursor {
  @apply dark:border-white !important;
}

.CodeMirror-line {
  @apply dark:text-white !important;
}

.CodeMirror-selectedtext {
  @apply dark:text-black !important;
}

.editor-toolbar button:hover {
  @apply bg-night-light !important;
}

.editor-preview {
  @apply bg-night-light dark:text-white !important;
}

.editor-preview-side {
  border-right: none !important;
}

.editor-toolbar {
  border-left: none !important;
  border-right: none !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  @apply dark:bg-night-dark !important;
}

.EasyMDEContainer .CodeMirror {
  border-left: none !important;
  border-right: none !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.editor-statusbar {
  @apply dark:text-white !important;
}

.CodeMirror-vscrollbar::-webkit-scrollbar {
  width: 6px;
}

.CodeMirror-vscrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
